<div class="col-md-8 offset-md-15 alerta">
  <div class="uk-alert-<%= alert_type %>" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h5><b><%= title %></b></h5>
    <p style="font-size: 11pt"><%= message %></p>
  </div>
</div>
