<div class="container">
    <div class="medium-heigth">
        <p>
            Para acesso completo a plataforma é necessário se cadastrar, preencha os dados abaixo
            e não se equeça de aceitar os termos de uso da plataforma.
        </p>
        <form action="" class="uk-margin-bottom">
            <div class="uk-form-controls uk-margin">
                <input type="text" placeholder="Digite o seu nome" class="uk-input" required>
            </div>
            <div class="uk-form-controls uk-margin">
                <input type="email" placeholder="Digite o seu e-mail" class="uk-input" required>
            </div>
            <div class="uk-form-controls uk-margin">
                <input type="email" placeholder="Confirme o seu e-mail" class="uk-input" required>
            </div>
            <div class="uk-form-controls uk-margin">
                <input type="password" placeholder="Digite uma senha" class="uk-input" required>
            </div>
            <div class="uk-form-controls uk-margin">
                <input type="password" placeholder="Confirme a senha" class="uk-input" required>
            </div>
            <div class="uk-form-controls uk-margin">
                <input type="text" id="telefone" placeholder="Digite um telefone para contato" class="uk-input"
                    required>
            </div>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <label><input class="uk-checkbox" type="checkbox"> <a href="#" uk-toggle="target: #modal-termos">Aceito
                        os termos de uso</a></label>
            </div>
            <div class="uk-form-controls uk-margin uk-text-center uk-margin-large-bottom">
                <button class="uk-button uk-button-primary uk-margin-small-right uk-width-1-1">Cadastrar</button>
            </div>

        </form>
    </div>
</div>