<div class="uk-carousel-container mg-top-neg-140">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
        uk-slideshow="max-height: 1000; animation: pull; autoplay: true; autoplay-interval: 5000; pause-on-hover: true">

        <ul class="uk-slideshow-items">
            <li>
                <img src="images/carousel/1.jpg" alt="" uk-cover uk-img>
                <div class="uk-position-center uk-position-small uk-text-center">
                    <h2 class="uk-title-description" uk-slideshow-parallax="x: 100,-100">Os Melhores Imóveis
                    </h2>
                    <p class="uk-title-description" uk-slideshow-parallax="x: 200,-200">Sempre tem um imóvel pertinho de
                        você, pesquise e confira</p>
                </div>
            </li>
            <li>
                <img src="images/carousel/2.jpg" alt="" uk-cover uk-img>
                <div class="uk-position-center uk-position-small uk-text-center">
                    <h2 class="uk-title-description" uk-slideshow-parallax="x: 100,-100">Os Melhores Preços</h2>
                    <p class="uk-title-description" uk-slideshow-parallax="x: 200,-200">Aluguel facilitado, sem fiador e
                        com a primeira em 30 dias</p>
                </div>
            </li>
            <li>
                <img src="images/carousel/3.jpg" alt="" uk-cover uk-img>
                <div class="uk-position-center uk-position-small uk-text-center">
                    <h2 class="uk-title-description" uk-slideshow-parallax="x: 100,-100">Anuncie na Nossa Plataforma
                    </h2>
                    <p class="uk-title-description" uk-slideshow-parallax="x: 200,-200">Quase 100.000 usuários
                        procurando uma casa para comprar ou alugar</p>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
            uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
            uk-slideshow-item="next"></a>
    </div>
    <%- include('search') %>
</div>