<div class="uk-card uk-card-default uk-card-body row">
    <div class="col-md-24">
        <div class="row">
            <div class="col-md-12">
                <h3 class="uk-card-title">Ficha Técnica</h3>
            </div>
            <div class="col-md-12 uk-flex-end">
                <button class="uk-button uk-button-default uk-margin-small-right" type="button"
                    uk-toggle="target: #modal-contato">Fazer uma Proposta</button>
            </div>
        </div>
        <div class="container">
            <div>
                <div class="ficha-tecnica">
                    <div class="itens">
                        <i class="material-icons">
                            open_with
                        </i>
                        <strong>Área Útil</strong>
                        <p>
                            150 m<sup>2</sup>
                        </p>
                    </div>
                    <div class="itens">
                        <i class="material-icons">
                            single_bed
                        </i>
                        <strong>Dormitórios</strong>
                        <p>
                            10
                        </p>
                    </div>
                    <div class="itens">
                        <i class="material-icons">
                            group
                        </i>
                        <strong>Sala</strong>
                        <p>
                            1
                        </p>
                    </div>
                    <div class="itens">
                        <i class="material-icons">
                            bathtub
                        </i>
                        <strong>Banheiros</strong>
                        <p>
                            10
                        </p>
                    </div>
                    <div class="itens">
                        <i class="material-icons">
                            directions_car
                        </i>
                        <strong>Garagem</strong>
                        <p>
                            2
                        </p>
                    </div>
                </div>

                <div class="ficha-tecnica">

                    <div class="itens select">
                        <i class="material-icons">
                            pets
                        </i>
                        <strong>Animais</strong>
                        <p>
                            Sim
                        </p>
                    </div>

                    <div class="itens select">
                        <i class="material-icons">
                            insert_drive_file
                        </i>
                        <strong>Operação</strong>
                        <p>
                            Alugar
                        </p>
                    </div>

                    <div class="itens select">
                        <i class="material-icons">
                            border_all
                        </i>
                        <strong>Finalidade</strong>
                        <p>
                            Residencial
                        </p>
                    </div>

                    <div class="itens select">
                        <i class="material-icons">
                            notes
                        </i>
                        <strong>Tipo</strong>
                        <p>
                            Casa
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 card-tecnica">
                        <h3 class="col-md-12 "><em class="em-casa">Mensal</em></h3>
                        <div class="uk-card-valores">
                            <div class="itens">
                                <div>
                                    <strong>Codigo: </strong>
                                </div>
                                <p>
                                    11JH4HG51O231OY41
                                </p>
                            </div>
                            <div class="itens">
                                <div>
                                    <i class="material-icons">
                                        home
                                    </i>
                                    <strong>Tipo: </strong>
                                </div>
                                <p>
                                    Locação
                                </p>
                            </div>
                            <div class="itens">
                                <div>
                                    <i class="material-icons">
                                        attach_money
                                    </i>
                                    <strong>Valor: </strong>
                                </div>
                                <p>
                                    R$ 400,00
                                </p>
                            </div>
                            <div class="itens">
                                <div>
                                    <i class="material-icons">
                                        monetization_on
                                    </i>
                                    <strong>IPTU: </strong>
                                </div>
                                <p>
                                    R$ 400,00
                                </p>
                            </div>
                            <div class="itens">
                                <div>
                                    <i class="material-icons">
                                        pool
                                    </i>
                                    <strong>Condominio: </strong>
                                </div>
                                <p>
                                    R$ 0,00
                                </p>
                            </div>
                            <div class="itens">
                                <div>
                                    <i class="material-icons">
                                        location_searching
                                    </i>
                                    <strong>Cep: </strong>
                                </div>
                                <p>
                                    06322-280
                                </p>
                            </div>
                            <div class="itens">
                                <div>
                                    <i class="material-icons">
                                        near_me
                                    </i>
                                    <strong>Cidade: </strong>
                                </div>
                                <p>
                                    Carapicuíba
                                </p>
                            </div>
                            <div class="itens">
                                <div>
                                    <i class="material-icons">
                                        room
                                    </i>
                                    <strong>Bairro: </strong>
                                </div>
                                <p>
                                    JD das Oliveiras
                                </p>
                            </div>
                            <div class="tipo mg-top-5">
                                <span class="uk-label uk-label-success uk-valor">
                                    <label>
                                        <h3>R$ 999.000,00</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-14 texto">
                        <h3><em class="em-casa">Histórico</em></h3>
                        <div class="form-control">
                            <textarea class="uk-textarea" disabled name="" id="" cols="30" rows="17">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis purus ac varius placerat. Phasellus nec ante justo.
Nulla euismod erat nunc, in fermentum justo tempus sit amet. Donec eleifend at nibh et dictum. Phasellus scelerisque
consequat blandit. Maecenas semper est lacus. Donec venenatis nec massa vitae tempor. Pellentesque euismod justo et
augue ullamcorper, at efficitur est luctus. Quisque fringilla, arcu a aliquam cursus, magna elit semper nunc, a
vulputate mauris libero non risus. Curabitur elementum laoreet mi et dignissim. Phasellus et nunc at dui sodales pretium
at ac magna. Vivamus auctor tortor vel metus lobortis accumsan. Nullam et felis at nunc fringilla iaculis at at lacus.
Sed egestas sapien ultricies laoreet dignissim. Pellentesque eget lorem rutrum, auctor arcu vitae, tincidunt urna.
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

Aenean consequat odio massa, quis suscipit nulla eleifend ac. Nunc id tortor dictum, efficitur quam vitae, mattis velit.
Quisque aliquam elit in leo malesuada, sed rutrum nibh maximus. Aenean consequat dolor eu varius facilisis. Mauris
hendrerit justo lacus, ut volutpat justo ultricies vitae. Maecenas id hendrerit magna. Sed suscipit fringilla mi, ut
varius orci vehicula quis. Morbi tincidunt erat at sodales cursus.
                            </textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>