<footer id="page-footer" class="uk-margin-top" style="padding: 20px;" uk-sticky>
    <div class="uk-container uk-text-center">
        <em class="uk-text-small">© <%= new Date().getFullYear() %> Aliance Imobiliária - Aluguel e Vendas de Imóveis Ltda.</em>
    </div>
</footer>