<div class="container">
  <div class="col-md-24 col-sm-20 max-heigth uk-text-center">
    <form action="/login" method="post" class="uk-margin-bottom">
      <div class="uk-form-controls uk-margin">
        <input type="email" placeholder="Digite o seu e-mail" class="uk-input" id="email" name="email" required>
      </div>
      <div class="uk-form-controls uk-margin">
        <input type="password" placeholder="Digite uma senha" class="uk-input" id="password" name="password" required>
      </div>
      <div class="uk-form-controls uk-margin">
        <button class="uk-button uk-button-primary uk-margin-small-right uk-width-1-1" type="submit">Entrar</button>
      </div>
    </form>
    <a href="">Esqueci minha senha</a>
  </div>
</div>
