<div class="uk-card uk-card-default uk-body uk-padding-large">
    <div class="uk-margin offset-md-6">
        <div class="col-md-16 uk-margin-medium-top">
            <div class="form-controls">
                <label for="">Email:</label>
                <input type="text" name="" id="" class="uk-input" disabled>
            </div>
        </div>
        <div class="col-md-16 uk-margin-medium-top">
            <div class="form-controls">
                <label for="">Nome:</label>
                <input type="text" name="" id="" class="uk-input">
            </div>
        </div>
        <div class="col-md-16 uk-margin-medium-top">
            <div class="form-controls">
                <label for="">Telefone:</label>
                <input type="text" name="" id="telefone" class="uk-input">
            </div>
        </div>

        <div class="col-md-12 uk-flex-end uk-margin-medium-top">
            <div class="uk-margin-right">
                <button class="uk-button uk-button-primary uk-button-success">SALVAR</button>
            </div>
            <div>
                <button class="uk-button uk-button-danger">CANCELAR</button>
            </div>
        </div>
    </div>
</div>