<div class="container mg-top-neg-40">
    <div class="uk-card uk-card-default uk-card-body">
        <div class="row">
            <h2 class="uk-h3 tm-heading-fragment">Busca de Imóveis</h2>
        </div>
        <form action="">
            <div class="row">
                <div class="col-lg-4 col-md-8">
                    <div class="uk-form-controls uk-margin">
                        <select class="uk-select" id="form-stacked-select">
                            <option value="" disabled selected>Operação</option>
                            <option value="comprar">Comprar</option>
                            <option value="alugar">Alugar</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-16">
                    <div class="uk-form-controls uk-margin">
                        <select class="uk-select" id="form-stacked-select">
                            <option value="" disabled selected>Cidades</option>
                            <option value="carapicuiba">Carapicuíba</option>
                            <option value="barueri">Barueri</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="uk-form-controls uk-margin">
                        <select class="uk-select" id="form-stacked-select">
                            <option value="" disabled selected>Tipo</option>
                            <option value="casa">Casa</option>
                            <option value="apartamento">Apartamento</option>
                            <option value="comercial">Comercial</option>
                            <option value="terreno">Terreno</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-16">
                    <div class="uk-form-controls uk-margin">
                        <select class="uk-select" id="form-stacked-select">
                            <option value="" disabled selected>Bairros</option>
                            <option value="cohab">Cohab</option>
                            <option value="libano">Libano</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-24">
                    <div class="uk-form-controls uk-margin">
                        <select class="uk-select" id="form-stacked-select">
                            <option value="" disabled selected>Animais</option>
                            <option value="sim">Sim</option>
                            <option value="não">Não</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-24">
                    <div class="uk-form-controls uk-margin">
                        <select class="uk-select" id="form-stacked-select">
                            <option value="" disabled selected>Finalidade</option>
                            <option value="residencial">Residencial</option>
                            <option value="comercial">Comercial</option>
                            <option value="misto">Misto</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="uk-form-controls uk-margin">
                        <select class="uk-select" id="form-stacked-select">
                            <option value="" disabled selected>Dormitórios</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="uk-form-controls uk-margin">
                        <select class="uk-select" id="form-stacked-select">
                            <option value="" disabled selected>Garagem</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="uk-form-controls uk-margin">
                        <input class="uk-input" id="val-min" type="text" data-affixes-stay="true" data-prefix="R$ "
                            data-thousands="." data-decimal="," placeholder="Valor Minímo">
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="uk-form-controls uk-margin">
                        <input class="uk-input" id="val-max" type="text" data-affixes-stay="true" data-prefix="R$ "
                            data-thousands="." data-decimal="," placeholder="Valor Máximo">
                    </div>
                </div>
            </div>
            <div class="row uk-flex-center">
                <button class="col-md-6 uk-button uk-button-primary uk-btn-round"><i class="material-icons icon-set-16">
                        search
                    </i> BUSCAR</button>
            </div>
        </form>
    </div>
</div>