<div class="uk-card uk-card-default uk-card-body row">
  <div class="col-md-24">
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 7:3">

      <ul uk-lightbox class="uk-slideshow-items">
        <%for (let item of files) {%>
        <li>
          <a class="uk-inline" href="<%= url %><%= item.file_name %>">
            <img uk-img src="<%= url %><%= item.file_name %>" alt="">
          </a>
        </li>
        <% } %>
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slideshow-item="next"></a>

    </div>
  </div>
</div>
