<div class="uk-card uk-card-default uk-card-body row">
    <div class="col-md-24">
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 7:3">

            <ul uk-lightbox class="uk-slideshow-items">
                <li>
                    <a class="uk-inline" href="images/info-images/home1.jpg">
                        <img uk-img src="images/info-images/home1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="uk-inline" href="images/info-images/home2.jpg">
                        <img uk-img src="images/info-images/home2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="uk-inline" href="images/info-images/home3.jpg">
                        <img uk-img src="images/info-images/home3.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="uk-inline" href="images/info-images/home4.jpg">
                        <img uk-img src="images/info-images/home4.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="uk-inline" href="images/info-images/home5.jpg">
                        <img uk-img src="images/info-images/home5.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="uk-inline" href="images/info-images/home6.jpg">
                        <img uk-img src="images/info-images/home6.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="uk-inline" href="images/info-images/home7.jpg">
                        <img uk-img src="images/info-images/home7.jpg" alt="">
                    </a>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slideshow-item="next"></a>

        </div>
    </div>
</div>