<div class="uk-card uk-card-default uk-body uk-padding-large">
    <table id="example" class="display" style="width: 100%;">
        <thead>
            <tr>
                <th>Codigo da Casa</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Rmovção</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Fernando Moraes</td>
                <td>(11) 9 0000-0000</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> REMOVER</a></td>
            </tr>
        </tbody>
    </table>
</div>