<div class="uk-card uk-card-default uk-body uk-padding-large">
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Apelido</th>
                <th>Valor total</th>
                <th>Alterar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
            <tr>
                <td>12F23RF2F3F212</td>
                <td>Casa Completa e Barata</td>
                <td>1.000,00</td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-success"><i class="material-icons">
                            autorenew
                        </i> ALTERAR</a></td>
                <td class="uk-text-center">
                    <a class="uk-button uk-button-danger"><i class="material-icons">
                            restore_from_trash
                        </i> EXCLUIR</a></td>
            </tr>
        </tbody>
    </table>
</div>