<div class="uk-card uk-card-default uk-card-body">
    <div class="js-upload uk-placeholder uk-text-center">
        <span uk-icon="icon: cloud-upload"></span>
        <span class="uk-text-middle">Arraste e solte as imagens que deseja fazer upload ou</span>
        <div uk-form-custom>
            <input type="file" multiple>
            <span class="uk-link">Selecione clicando aqui</span>
        </div>
    </div>
</div>
<progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>